---
layout: default
comments: true
---

<!-- Post Header -->
<header class="intro-header"
        style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                    always create a h2 for keeping the margin
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article id="article">
    <div class="container" style="overflow-y:hidden;">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 post-container">

                {{ content }}

            </div>
</article>

<!-- Post Comments -->
{% if page.comments %}
<script id="dsq-count-scr" src="//codeboy.disqus.com/count.js" async></script>
<div id="disqus_thread" class="container"></div>
<script>
    let disqus_config = function () {
        this.page.url = "{{ page.url}}";
        this.page.identifier = "{{page.title}}";
    };
    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://codeboy.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

{% endif %}

<!-- Post Contents -->
{% if page.comments %}
<!-- 目录插件 -->
<script src="{{ '/js/autoc.min.js' | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ '/css/autoc.css' | prepend: site.baseurl }}">

<script>
    // 创建 Outline 实例
    let navigation = new AutocJs({
        // 文章正文 DOM 节点的 ID 选择器
        article: '#article',
        // 要收集的标题选择器
        selector: 'h1,h2,h3,h4,h5,h6',
        // 侧边栏导航的标题
        title: '{{ page.title }}',
        // 文章导读导航的位置
        // outside - 以侧边栏菜单形式显示（默认值）
        // inside - 在文章正文一开始的地方显示
        position: 'outside',
        // 标题图标链接的 URL 地址
        // （默认）没有设置定制，点击链接页面滚动到标题位置
        // 设置了链接地址，则不会滚动定位
        anchorURL: '',
        // 链接的显示位置
        // front - 在标题最前面（默认值）
        // back - 在标题后面
        anchorAt: 'front',
        // 是否生成文章导读导航
        isGenerateOutline: true,
        // 是否在文章导读导航中显示段落章节编号
        isGenerateOutlineChapterCode: true,
        // 是否在正文的文章标题中显示段落章节编号
        isGenerateHeadingChapterCode: false,
        // 是否在正文的文章标题中创建锚点
        isGenerateHeadingAnchor: true
    });
    const article = document.getElementById('article');
    const menu = document.getElementById('cb-menu');
    menu.style.top = (article.offsetTop + 50) + 'px';
</script>

{% endif %}

