<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ '/feed.xml' | prepend: site.baseurl }}">
                        <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/js/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script>
<script>
    $.fn.tagcloud.defaults = {
        //size: {start: 1, end: 1, unit: 'em'},
        color: {start: '#bbbbee', end: '#0085a1'},
    };
    $(function () {
        $('#tag_cloud a').tagcloud();
    });
</script>

<!-- Highlight.js -->
<script src="//cdn.bootcss.com/highlight.js/9.4.0/highlight.min.js"></script>
<link href="//cdn.bootcss.com/highlight.js/9.4.0/styles/solarized-dark.min.css" rel="stylesheet">

<div class="cb-gyh visible-lg visible-md" style="position: fixed;  bottom:100px;  right: 10px; z-index: 9998;">
    <img src="/img/gzh-qrcode.jpg" style="width: 136px; height: 136px;  border:1px solid green;"/>
</div>

<div class="cb-search-tool" style="position: fixed; top:0 ; bottom:0; left:0; right: 0;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px"
           placeholder="文章标题 日期 标签">

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png" id="cb-close-btn"/>
    </div>
</div>

<!-- Custom Theme JavaScript -->
<script src="{{ '/js/codeboy.min.js' | prepend: site.baseurl }}"></script>

<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="/search/img/cb-search.png" id="cb-search-btn" title="双击ctrl试一下"/>
</div>

<link rel="stylesheet" href="{{ '/search/css/cb-search.css' | prepend: site.baseurl }}">

<script src="{{ '/search/js/bootstrap3-typeahead.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/search/js/cb-search.min.js' | prepend: site.baseurl }}"></script>

